<div class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5">
                    <form class="box loginForm">
                        <h3 class="tittle has-text-centered is-size-3 mb-5"><strong>Login</strong></h3>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input type="email" class="input" placeholder="Enter email..." id="userEmail">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input type="password" class="input" placeholder="Enter password..." id="userPassword">
                            </div>
                        </div>
                        <div class="field">
                            <button type="submit" class="button is-primary">Login</button>
                        </div>
                        <h3 class="title has-text-centered is-size-6 mt-5">Don't have an account? <a href="/signup" class="link">Signup!</a></h3>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/login.js"></script>