<div class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5">
                    <form class="box signupForm">
                        <h3 class="tittle has-text-centered is-size-3 mb-5"><strong>Create your account</strong></h3>
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Enter Username..." id="signupUsername">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="email" placeholder="Enter your email..."
                                    id="signupEmail">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <p class="control">
                                <input class="input" type="password" placeholder="Enter Password..." id="signup-password">
                            </p>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <p class="control">
                                <button type="submit" class="button is-primary" id="signSubmit">Submit</button>
                            </p>
                            <p class="control">
                                <a href="/" class="button is-light">Cancel</a>
                            </p>
                        </div>
                        <h3 class="title has-text-centered is-size-6 mt-5">Already have an account? <a href="/login" class="link">Log-in</a></h3>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/signup.js"></script>